<!doctype html>
<html lang="en" ng-app>
<head>
  	<meta charset="utf-8">
  	<title>Activity Management System</title>
  	<link rel="stylesheet" href="/ams/resources/bootstrap/css/bootstrap.css">
  
	<script src="/ams/resources/js/lib/angular/angular.js"></script>
	<script src="/ams/resources/js/lib/angular/bootstrap-ui-tpls-0.6.0.js"></script>
	<script src="/ams/resources/js/controllers/RegisterController.js"></script>
	
</head>
<body ng-controller="RegisterCtrl">

<div class="container-fluid" align="center">
	<form name="signup_form">
  		<div class="row-fluid">
    		<div class="span13">
    			<h3>Register User</h3>
				<table>
			  	<tr>
			  		<td width="30%">Username:</td>
			  		<td width="70%"><input type="text" name="username" ng-model="user.username" class="form-control" placeholder="Pick a username" autofocus required  ng-minlength=3 ng-maxlength=20 >
			  		<div class="error" ng-show="signup_form.username.$dirty && signup_form.username.$invalid">
				    <small class="alert-error"  ng-show="signup_form.username.$error.required">
				        Your name is required.
				    </small>
				    <small class="alert-error"  ng-show="signup_form.username.$error.minlength">
				            Your name is required to be at least 3 characters
				    </small>
				    <small class="alert-error"  ng-show="signup_form.username.$error.maxlength">
				            Your name cannot be longer than 20 characters
				    </small>
				  </div>
			  		</td>
			  	</tr>
			  	<tr>
			  		<td>Password:</td>
			  		<td><input type="password"  ng-model="user.password" class="form-control" placeholder="Create a password" required ></td>
			  	</tr>
			  	<tr>
			  		<td>Confirm Password:</td>
			  		<td><input type="password"  ng-model="user.repassword" class="form-control" placeholder="Confirm your password" required ></td>
			  	</tr>
			  	<tr>
			  		<td>Email:</td>
			  		<td><input type="text"  ng-model="user.email" class="form-control" placeholder="Your email" required ></td>
			  	</tr>
			  	<tr>
			  		<td colspan="2"><div class="alert-error">{{errorMsg}}</div></td>
			  	</tr>
			  </table>
			</div>
		</div>
		
		<div>
			<button class="btn btn-info" type="submit" ng-click="addUser()" >Register</button>
        	<button class="btn btn-info" type="button" ng-click="cancelUser()">Cancel</button>
		</div>	
	</form>
</div>
       

</body>
</html>
